KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/descriptor_tables_asm.o \
$(ARCHDIR)/descriptor_tables.o \
$(ARCHDIR)/sse.o \
$(ARCHDIR)/irq_handlers.o \
$(ARCHDIR)/misc.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/nmi.o \
$(ARCHDIR)/rtc.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/gui.o \

